@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap');

:root {
  font-family: 'Noto Sans', sans-serif;
  background-color: #f4f6f8;
  color: #111827;
}

body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  background: #f4f6f8;
}
